name: HACS Action

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  hacs:
    name: HACS Action
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: HACS Action
        uses: hacs/action@6f81caf1dd4cc0f615444dba4d4a3ceaa22db99c # main
        with:
          category: "integration"
