name: HACS Action

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  hacs:
    name: HACS Action
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: HACS Action
        uses: hacs/action@dcb30e72781db3f207d5236b861172774ab0b485 # main
        with:
          category: "integration"
