name: HACS Action

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  hacs:
    name: HACS Action
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: HACS Action
        uses: hacs/action@dcb30e72781db3f207d5236b861172774ab0b485 # main
        with:
          category: "integration"
