name: Validate with hassfest

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
        - uses: actions/checkout@v6
        - uses: home-assistant/actions/hassfest@master
